sudo: false
language: python
python:
  - "3.6"
  - "3.5"
  - "3.4"
  - "3.3"
  - "2.7"
  - "2.6"
  - "pypy"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: python setup.py develop
# command to run tests
script:  python setup.py test
