# http://docs.python.org/3/distutils/sourcedist.html#specifying-the-files-to-distribute

include *.rst
recursive-include kajiki *
prune kajiki/perf
recursive-include docs *
prune docs/_build
global-exclude *.pyc
